  fieldset {
    width: 400px;
  }
  #husnummer {
    width: 40px;
  }
  #postnr {
    width: 40px;
  }
  #utløp {
    width: 148px;
  }
  #tid {
    width: 50px;
  }
  #hoyre {
    text-align: right;
  }
  #kortinfo {
    visibility: hidden;
  }
  circle { cursor: pointer;
  }
  #storkart {
    float: right;
  }
  #map {
    float:right;
    height: 600px;
    width: 70%;
  }
  #hytteliste {
    font-size: 2em;
    font-family: "Comic Sans MS";
  }
  #heading {
    height: 110px;
  }
  #meny {
    height: 60px;
  }
  #menytabell {
    background-color: lightblue;
    font-size: 2em;
    font-family: "Comic Sans MS";
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  #hoyre {
    float: right;
  }
  #venstre {
    float: left;
  }
  #radio{
    text-align: right;
  }
  .hoved {
    font-size: 0.7em;
    font-family: "Verdana";
    text-align: center;
    border : 1px solid black;
    border-collapse: collapse;
    width: 23%;
  }
  .liten {
    font-family: "Verdana";
    font-weight: bold;
    font-size: 0.8em;
  }
  div.main {
    font-size: 1.2em;
    font-family: "Comic Sans MS";
  }
  body {
     background-image: url("hytte_bakgrunn200.png");
     background-size: cover;
     font-size: 100%;
     width: 100%;
   }
   h1 {
     font-family: "Comic Sans MS";
     font-size: 4em;
   }
